h1 a, h2 a {
    color: #C25100;
}

body{
    padding: 5px;
}

.post{
    width:90%;
    background-color: #FDFDFD;
    display: block;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.main{
    display:block;
}

.title{
    font-size:20px;
}

.beschreibung{
    width:95%;
}

.date{
    font-style:italic;
    font-weight:light;
    font-size:smaller;
    display:block;
}