
{% extends 'projekt/base.html' %}
{% block content %}
    {% if neuestes_projekt %}
        {% for projekt in neuestes_projekt %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'detail' projekt.id %}">{{ projekt.titel }}</a></h2>
                <p class="blog-post-meta">{{ projekt.veroeffentlicht }}</p>
                <p>{{ projekt.beschreibung }}</p>
            </div><!-- /.blog-post -->
        {% endfor %}
    {% else %}
        <p>Keine Projekte vorhanden</p>
    {% endif %}
{% endblock %}