{% load static %}
<html lang="de">
  <head>
      <title>Glücksrad</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://christiangroeber.github.io/python/M151/wheelofluck/login/static/site.css>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Glücksrad Login</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
        </nav>
      </div>

    <main role="main" class="container">
      <a href="{% url 'new_user' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      <div class="row">
        <div class="col-md-8 blog-main">
            {% block content %}
            {% endblock %}
        </div><!-- /.blog-main -->
        <div class="highscores aside">
          <p>High Scores</p>
          {% for game in high_score_list %}
            {{ game.player }}
          {% endfor %}
        </div>


      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <!--TODO-->
    </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  </body>
</html>
</html>