{% extends 'user/base.html' %}
{% block content %}
{% if can_play %}

<div class="row">
        <div class="col-sm-6">
                {% if stage == 1 %}
                <form class="your_login" method="POST">
                        {% csrf_token %}
                        <button class="spin">Dreh das Rad</button>
                </form>
                {% endif %}
        </div>
        <div class="col-sm-6">
                <p>Anzahl falsch geraten: {{ stats.fehler }}</p>
        </div>
</div>
<p class="etwas">{{ spinned }}</p>
{{ output }}
{% if stage == 2 %}
<form class="konsonant" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Absenden</button>
</form>
{% endif %}
<br><a class="solve" href="/game/solve/{{ id }}/">Ich möchte das Rätsel lösen</a>
{{ result }}
{% else %}
<a href="/">Sie haben verloren, bitte gehen Sie zurück.</a>
{% endif %}
<hr></hr>
<h4>Developer Infos</h4>
<ul>
        {% for info in dev_info %}
                <li>{{ info }}</li>
        {%endfor %}
</ul>
{% endblock %}